# Default ignored files
/workspace.xml
.idea
results/
data*
.ipynb_checkpoints/
/2_DivMigr_model.png
/4_DivMig.png
/4_DivMig_model.png
/ModelPic.py
/no_data/4_YRI_CEU_CHB_JPT_17_Jou/
/no_data/3_YRI_CEU_CHB_13_Jou/
