# Default ignored files
/workspace.xml
.idea
results/
/home/paulkh/Desktop/Diploma/BayesOpt/no_data/data_4_DivMig/data.fs
.ipynb_checkpoints/
/2_DivMigr_model.png
/4_DivMig.png
/4_DivMig_model.png
/ModelPic.py
